### Markdown Basics

* **Bold** 
* *Italic* 
* **IB** 
* Normal Text
    * sublist 1
    * sublist 2
    
    
>1. ordered list element 1
>2. ordeted list element 2


![jupyter](jupiter.png)

<img src="jupiter.png" style="float:left">




I get 10 times more traffic from [Google][] than from
[Yahoo][] or [MSN][].

  [google]: http://google.com/        "Google"
  [yahoo]:  http://search.yahoo.com/  "Yahoo Search"
  [msn]:    http://search.msn.com/    "MSN Search"
  
  
  `printf("Hello Markdown")`
  
  <https://google.com>
  
  <markdown@google.com>

### Python Basics
Python version 3.7
- scripting
- Object Oriented
- Functional

In [6]:
# Python Comments

print("Good Afternoon", "!",end="||") # Basic Output
print("Hello python")

Good Afternoon !||Hello python

### Assignment

In [13]:
n1 = 123456 # Single Variable Assignment

n2 =n3 =n4 =n1 # Multi Variable Assignment of the 

a,b,c=123,234,345 # Multi Variable Assignment with different values

print(a,b,c)

123 234 345

### Data Types& Type Conversions
- int
- float
- string

In [32]:

type(a)
s1 = "python"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [36]:
n1 % 11

n3 = n2 ** 123456

type(n3)
len(str(n3))

atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

### Conditionals

In [41]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [1]:
# Check if a number is Even

n = 123
if n%2==0:
    print("Even")
else:
    print("odd")

odd

In [4]:
# Find the greatest of 3 numbers

n1 = input("Enter the first number")
n2 = input("Enter the second number")
n3 = input("Enter the third number")

if n1>=n2 and n1>=n3:
    print(n1,"is the greatest")
elif n2>=n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

Enter the first number123
Enter the second number234
Enter the third number456
456 is the greatest

In [6]:
# Check if a year is a Leap year

n = 1234
if year % 400 == 0 or(year % 100 !=0 and year % 4 ==0):
    print("leap year")
else:
    print("not a leap year")

NameError: name 'year' is not defined

In [8]:
# Check if a number exists in a given range(inclusive)

n1 = 123
lb = 50
ub = 150

In [ ]:
# Calculate the number of digits in a number

n1=134245925
print(len(str(n1)))

In [4]:
#Check if a number is a multiple of 10

if n%10 ==0:
    print(n1,"is a multiple of 10")
else:
    print(n1,"is not a multiple of 10")

NameError: name 'n' is not defined

In [ ]:
#Check if a number is a factor of 1000

In [3]:
#Check if given string is equal to a number

s1="123456"
n1=123456
if str(n1) == s1:
    print(n1,"is equal to",s1)
else:
    print(n1,"is not equal to",s1)

123456 is equal to 123456

In [2]:
#Calculate the square root of a number without functions

n1 = 123
n1 ** 0.5

11.090536506409418

In [1]:
#Calculate the number if nano seconds in a given year(considering leap year logic)

year = 2016
if year % 400 == 0 or(year % 100 !=0 and year % 4 ==0 ):
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * 60 * 60 * (10**9))

31622400000000000